<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Iniciar Sesión</title>
    <!--<link rel="stylesheet" href="../static/css/miEstilo.css">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstilo2.css') }}" />
  </head>
  <body>

    <div class="login-box">
      <!--<img src="../static/img/Grupo8.jpeg" class="avatar" alt="Avatar Image">-->
      <img src="{{ url_for('static', filename='img/Grupo8.jpeg') }}" class="avatar" alt="Avatar Image">
      <h1>Universidad Bolivariana</h1>
      <h2>Iniciar Sesión</h2>
      <form>
        <!-- ID INPUT -->
        <label for="id">Identificación:</label>
        <input type="text" placeholder="Ingrese la  identificación">

        <!-- USERNAME INPUT -->
        <label for="username">Nombre y Apellidos:</label>
        <input type="text" placeholder="Ingrese el nombre">
        
        <!-- TELEFONO INPUT -->
        <label for="telefono">Teléfono:</label>
        <input type="text" placeholder="Ingrese el teléfono">

        <!-- ID CURSO -->
        <label for="id">curso:</label>
        <input type="text" placeholder="Seleccione el Curso">

        <!-- EMAIL INPUT -->
        <label for="id">Email:</label>
        <input type="text" placeholder="Ingrese su Email">

        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña:</label>
        <input type="password" placeholder="Ingrese su Contraseña">
        <input type="submit" value="Entrar">
        <input type="submit" value="Cancelar">
        <a href="#">Olvidaste tu contraseña?</a><br>
        <a href="#">No tienes cuenta?</a>
      </form>
    </div>
  </body>
</html>
