<!DOCTYPE html>
<html lang="es">
<head>
	<title>Administrador</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_Admin.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
	<script src="{{ url_for('static', filename='js/funciones.js') }}"> </script>
</head>
<body>
	<!-- SideBar -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
	  <div class="full-box dashboard-sideBar-ct">
			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				Universidad Bolivariana <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>
			<!-- SideBar User info -->
		<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box">
					
					<img src="{{ url_for('static', filename='./assets/img/Jesus.jpg') }}" alt="UserIcon">
					<figcaption class="text-center text-titles">{{session['nombre']}}</figcaption>
					<figcaption class="text-center text-titles">{{session['id_rol']}}</figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					<li>
						<!-- <a href="#!">
							<i class="zmdi zmdi-settings"></i>
						</a> -->
					</li>
					<li>
						<a href="#!" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
		  </div>
		  <!-- SideBar Menu -->
		  <ul class="list-unstyled full-box dashboard-sideBar-Menu">
			  <li>
				  <a href="/home_admin">
					  <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Dashboard
				  </a>
			  </li>
			  <li>
				  <a href="#!" class="btn-sideBar-SubMenu">
					  <i class="zmdi zmdi-case zmdi-hc-fw"></i> Administración <i class="zmdi zmdi-caret-down pull-right"></i>
				  </a>
				  <ul class="list-unstyled full-box">
					  <li>
						  <a href="periodo"><i class="zmdi zmdi-timer zmdi-hc-fw"></i> Período</a>
					  </li>
					  <li>
						  <a href="materia"><i class="zmdi zmdi-book zmdi-hc-fw"></i> Materia</a>
					  </li>
					  <li>
						<a href="asignar_docentes"><i class="zmdi zmdi-graduation-cap zmdi-hc-fw"></i> Asignar Docentes</a>
					</li>
					<li>
						<a href="curso"><i class="zmdi zmdi-font zmdi-hc-fw"></i> Curso</a>
					</li>
				  </ul>
			  </li>
			  <li>
				  <a href="#!" class="btn-sideBar-SubMenu">
					  <i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Gestionar Administrador<i class="zmdi zmdi-caret-down pull-right"></i>
				  </a>
				  <ul class="list-unstyled full-box">
					  
					  <li>
						  <a href="admin"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Agregar Administrador</a>
					  </li>
					  <li>
						  <a href="edit_admin"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Editar Administrador</a>
					  </li>		
				  </ul>
			  </li>
			  <li>	
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Gestionar Docentes<i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						
						<li>
							<a href="ingresar_docentes"><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i> Agregar Docente</a>
						</li>
						<li>
							<a href="edit_docentes"><i class="zmdi zmdi-male-alt zmdi-hc-fw"></i>Editar Docente</a>
						</li>
							
					</ul>
				</li>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Gestionar Estudiantes<i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						
						<li>
							<a href="ingresar_estudiante"><i class="zmdi zmdi-face zmdi-hc-fw"></i> Agregar Estudiante</a>
						</li>
						<li>
							<a href="edit_estudiante"><i class="zmdi zmdi-face zmdi-hc-fw"></i> Editar Estudiante</a>
						</li>
						
					</ul>
				</li>

				<li>	
			  <li>
				  <a href="#!" class="btn-sideBar-SubMenu">
					  <i class="zmdi zmdi-shield-security zmdi-hc-fw"></i> Configurar Institución <i class="zmdi zmdi-caret-down pull-right"></i>
				  </a>
				  <ul class="list-unstyled full-box">
					  <li>
						  <a href="school.html"><i class="zmdi zmdi-balance zmdi-hc-fw"></i> Datos de la Institución</a>
					  </li>
				  </ul>
			  </li>
		  </ul>
		</div>
	</section>

	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				
				
				<li>
					<a href="#!" class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles">Sistema <small>Administrativo</small></h1>
			</div>
		</div>
		<div class="full-box text-center" style="padding: 115px 10px;">
		</div>
<!--################################################################################## -->

<div class="login-box">
	<img src="{{ url_for('static', filename='img/Grupo8.jpeg') }}" class="avatar" alt="Avatar Image">
	<h1>Asignar Docente  </h1>
<form name="formularioRegistro" onsubmit="return validaarFormulario()" method="post">
  <table width="409" border="0">
    <tbody>
    <tr>
      <td width="158"><label for="id">Identificación:</label>
		<p><input type="text" name="id" placeholder="Identificación del docente"> <span class="error" id="errorId"></span></td>
		
      <td width="18" height="60"></td>
		
		
      <td align="left"> <input type="submit" name="submit" id="submit" value="Buscar docente">   </td>
		
      <td></td>
    </tr>
	<tr>
		<td width="67" align="center">
		<label for="foto1"value="{{user1}}" name="ident"></label> </a></label></a>{{user1}} </td>

		<td height="60">&nbsp;</td>
	
		<td width="67" align="center">
			<label for="foto" value="{{user}}" name="username"></label> </a>{{user}} </td>
		
    <tr>
		<td width="67" align="center">
			<label for="foto">Identificación del Docente</label></a> </td>
		
      <td height="60">&nbsp;</td>
	
      <td width="67" align="center">
		<label for="foto">Nombre del Docente</label></a> </td>
		
    </tr>
    <tr>
      <!-- <td><label for="username">Curso:</label>
		<p> <input type="text" placeholder="Nombre del curso" name="username" > <span class="error" id="errorName"></span></td> -->
		<td><!-- Materia -->
			<label for="materia">Materia:</label>
				<p> <select type="text" name="curso"  id="curso"> <span class="error" id="errorCurso"></span></p>
				<option hidden selected >Seleccione una Materia</option>
				<option value="23">Programación Python</option>
				<option value="24">Inglés</option>
				<option value="25">Habilidades Personales</option>
			</select>
		
      <td height="60">&nbsp;</td>
		
		
      <!-- <td><label for="correo">Materia:</label>
		<p> <input type="text" name="correo" placeholder="Nombre de la materia"> <span class="error" id="errorEmail"></span></td> -->
		<td><!-- ID CURSO -->
			<label for="curso">Curso:</label>
				<p> <select type="text" name="curso"  id="curso"> <span class="error" id="errorCurso"></span></p>
				<option hidden selected >Seleccione un curso</option>
				<option value="23">23-G8</option>
				<option value="24">24-G2</option>
				<option value="25">25-G4</option>
			</select>


<!--      <td width="67" align="right"><input type="submit" name="submit" id="submit" value="Eliminar"></td>-->
    </tr>
    <tr>
    
		<td></td>
		
		
      <td>&nbsp;</td>
      
	 <td></td>	
		
<!--      <td align="right"><input type="reset" name="reset" id="reset" value="Cancelar"></td>-->
    </tr>
  </tbody>
</table>
  <table width="406" height="31" border="0">
    <tbody>
      <tr>
        <td width="62" align="left">&nbsp;</td>
		  
        <td width="188" align="center"><input type="submit" name="submit" id="submit" value="Guardar"></td>
		  
        <td width="177" align="right"><input type="reset" name="reset" id="reset" value="Cancelar"></td>
      </tr>
    </tbody>
  </table>
</td>
	</tr>
	</tbody>
</table>
</form>





<!--################################################################################## -->
			
					
	<!-- Notifications area -->
	<!-- Dialog help -->
	<div class="modal fade" tabindex="-1" role="dialog" id="Dialog-Help">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    	<h4 class="modal-title">Help</h4>
			    </div>
			    <div class="modal-body">
			        <p>
			        	<!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt beatae esse velit ipsa sunt incidunt aut voluptas, nihil reiciendis maiores eaque hic vitae saepe voluptatibus. Ratione veritatis a unde autem! -->
			        </p>
			    </div>
		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-primary btn-raised" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> Ok</button>
		      	</div>
		    </div>
	  	</div>
	</div>
	<!--====== Scripts -->
	<script src="{{ url_for('static', filename='./js/jquery-3.1.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='./js/sweetalert2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='./js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='./js/material.min.js') }}"></script>
	<script src="{{ url_for('static', filename='./js/ripples.min.js') }}"></script>
	<script src="{{ url_for('static', filename='./js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
	<script src="{{ url_for('static', filename='./js/main.js') }}"></script>
	<script>
		$.material.init();
	</script>
</body>
</html>