<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Iniciar Sesión</title>
    <!--<link rel="stylesheet" href="../static/css/miEstilo.css">-->
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstilo.css') }}" />
  </head>
  <body>
    <div class="login-box">
      <!--<img src="../static/img/Grupo8.jpeg" class="avatar" alt="Avatar Image">-->
      <img src="{{ url_for('static', filename='img/Grupo8.jpeg') }}" class="avatar" alt="Avatar Image">
      <h1>Universidad Bolivariana</h1>
      <h2>Iniciar Sesión</h2>
      <form name="formularioLogin" onsubmit="return validarFormulario()" method="post">
        <!-- USERNAME INPUT -->
        <label for="username">Usario:</label>
        <input type="text" name="username" placeholder="Ingrese su Email">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña:</label>
        <input type="password" name="password" placeholder="Ingrese su Contraseña">
        <input type="submit" value="Entrar">
        <!--<a href="#">Olvidaste tu contraseña?</a><br>
        <a href="#">No tienes cuenta?</a>-->
      </form>
    </div>
  </body>
</html>
